name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on: [push]

jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: Configurant SSH i comprovant connexi贸
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          ssh -i ~/prod_key.pem -o StrictHostKeyChecking=no ${{ secrets.PROD_USER }}@${{ secrets.SERVER_IP }} "echo 'Conexi贸n SSH exitosa'"

      - name: scp a produccio
        run: |
          cd ${{ github.workspace }}
          echo "Action desplegant a produccio" > ./web/last_deploy.txt
          date >> ./web/last_deploy.txt
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/prod_key.pem ./web/* ${{ secrets.PROD_USER }}@${{ secrets.SERVER_IP }}:/home/ebota/a23arapacmun.daw.inspedralbes.cat/ghactions-AraceliPac.daw.inspedralbes.cat/public_html/tr0-2024-2025-un-munt-de-preguntes-AraceliPac

      - run: echo " This job's status is ${{ job.status }}."
