name: Preparant per producci贸 vue.js
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on: [push]

jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: Configura Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22  # Utilitza la versi贸 de Node.js que necessitis

      - name: Accedir a la carpeta del projecte Vue.js
        run: cd my-project

      - name: Instal路lar depend猫ncies
        run: npm ci  # O b茅 npm install si no tens un package-lock.json

      - name: Construir l'aplicaci贸 Vue.js
        run: npm run build  # Aix貌 generar la carpeta dist

      - name: Configurant SSH i comprovant connexi贸
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          ssh -i ~/prod_key.pem -o StrictHostKeyChecking=no ${{ secrets.PROD_USER }}@${{ secrets.SERVER_IP }} "echo 'Conexi贸n SSH exitosa'"

      - name: Pujar carpeta dist a producci贸
        run: |
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/prod_key.pem ./my-project/dist/* ${{ secrets.PROD_USER }}@${{ secrets.SERVER_IP }}:/home/a23arapacmun/web/a23arapacmun.daw.inspedralbes.cat/public_html/tr0-2024-2025-un-munt-de-preguntes-AraceliPac/ghactions/calculadora

      - run: echo " This job's status is ${{ job.status }}."